.col.col{
    &--no-padding{
        padding: 0px;
    }
}

.row{
    &--no-mb{
        margin-bottom: 0;
    }
}

//switch of the material translate idiom
.switch{
    &--large{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

    }
}