/*//////////////////////////////////////////////////////*\
$COLORS

/*/
/**
* Branding colors
*/
/*///////////////////////////////////////////////////*\

$ARRAY

/*/
/**
* HEADER
*/
.navbar.navbar-inverse {
  -webkit-animation: 1.6s ease 1 ease-out forwards;
  animation: 1.6s ease 1 ease-out forwards; }

@-webkit-keyframes navbarON {
  0% {
    -webkit-transform: translate(0, -25px) translateZ(50px);
    transform: translate(0, -25px) translateZ(50px); }
  50% {
    -webkit-transform: translate(0, -5px) translateZ(20px);
    transform: translate(0, -5px) translateZ(20px); }
  60% {
    -webkit-transform: translateZ(-2.5px);
    transform: translateZ(-2.5px); }
  70% {
    -webkit-transform: translate(0, 0px) translateZ(-1.5px);
    transform: translate(0, 0px) translateZ(-1.5px); }
  100% {
    -webkit-transform: translate(0, 0) translateZ(0px);
    transform: translate(0, 0) translateZ(0px); } }

@keyframes navbarON {
  0% {
    -webkit-transform: translate(0, -25px) translateZ(50px);
    transform: translate(0, -25px) translateZ(50px); }
  50% {
    -webkit-transform: translate(0, -5px) translateZ(20px);
    transform: translate(0, -5px) translateZ(20px); }
  60% {
    -webkit-transform: translateZ(-2.5px);
    transform: translateZ(-2.5px); }
  70% {
    -webkit-transform: translate(0, 0px) translateZ(-1.5px);
    transform: translate(0, 0px) translateZ(-1.5px); }
  100% {
    -webkit-transform: translate(0, 0) translateZ(0px);
    transform: translate(0, 0) translateZ(0px); } }

/*//////////////////////////////////////////////////////*\
$LINKS

/*/
