@import '../../../shared/styles/vars';
.projectModal {
    width: 90vw;
    background-color: $resume;
    margin: 0;
    padding-bottom: 15px;
    &__body{
        //margin-top: calc(2.3733333333rem + 1.424rem + 54px);
        // the size of the h2 and theres margins
    }

    &__p{
        text-align: justify;
        color: black;
    }

    &__h3{
        margin-top: 0;
        padding: 15px;
        text-align: center;
        font-size: 32px;
    }
    //all referer with the slick library
    .slick-slider{
        position: static;
    }
    .slick-prev,.slick-next{
        z-index: 9;
    }
    
    .slick-next{
        right: 0px;    
    }
    
    .slick-prev{
        left: 0px;
    }
}

@media only screen and (min-width:$Tablets){
    .projectModal{
        &__h3{
            font-size:$titleSize-lg;
        }
    }
}