@import '../../../shared/styles/vars';
.projectModal {
    width: 90vw;
    background-color: $resume;

    &__body{
        //margin-top: calc(2.3733333333rem + 1.424rem + 54px);
        // the size of the h2 and theres margins
    }

    &__p{
        text-align: justify;
        color: black;
    }
}

.carrousel{
    width: 100%;
    height: 280px;
    overflow: hidden;
    position: relative; //for the arrows of slick
    &__img{
        width: 100%;
    }
}

//all referer with the slick library
.projectModal {

    .slick-slider{
        position: static;
    }
    .slick-prev,.slick-next{
        z-index: 9;
    }

    .slick-next{
        right: 0px;    
    }

    .slick-prev{
        left: 0px;
    }
}