@import '../../../shared/styles/vars';
.carrouselSync{
    text-align: justify;
    color: $palet2;
}

@media only screen and (min-width:$Tablets){
    .carrouselSync{
        text-align: center;
    }
}