@import '../../shared/styles/vars';

.wrap_about{
    width: 100%;
    display: inline-block;
    background-color: $palet1;
}

.cardCenter{
    position: relative;
    z-index: 1;
    width: calc(100% - 36px);
    border-radius: 3%;
    margin: 0px 0px 0px 18px;
    background-color: #111317;
}