$palet1: #2051b3;
$palet2:#111317;

$resume:rgb(234, 234, 234);
//Media querys

$PhonesLandscape: 600px;//s
$Tablets: 768px;//t
$Desktops: 992px;//m
$LargeDesktops: 1200px; //l

/////////////////////////////// Texts/////////////////////////////////////////

$titleSize-s: 34px;


$paragraph-s:17px;



$text-s: 18px;

///////////////////////////// EndTexts /////////////////////////////////////////