@import '../../../shared/styles/vars';

.projects{
    padding: 5px 0;
    margin: 0px;
    background-color: $resume;
}

@media only screen and (min-width:$Tablets){
    .projects{
        min-height: 100vh;
    }
}