/*//////////////////////////////////////////////////////*\
$LINKS

/*//////////////////////////////////////////////////////*\

$face:"www.facebook.com";
$insta:"www.instagram.com";
$git:"www.github.com";
$linkedin:"www.linkedin.com";