@import '../../../shared/styles/vars';

.sectionTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: black;
    border-radius: $radius-cards;
    min-height: 55px;

    &__h3{
        margin: 0px;
        font-size: 30px;
        color: white;
        text-align: center;
    }
}