@import '../../../shared/styles/vars.scss';
.sectionbody{
    min-height: 100px;
    width: 95%;
    margin: 0px auto;
}

.sectionbody ul div.list:first-child{
    font-weight: bold;
    list-style-type: disc;
}

@media (min-width:$PhonesLandscape){
    .container{
        width: 95%;
    }
}