@import '../../../shared/styles/vars.scss';
.sectionbody{
    min-height: 100px;
    width: 95%;
    margin: 0px auto;

    &__li{
        margin: 10px 0px;
        text-align: justify;
        &--withTitle{
            font-weight: bold;
            text-align: center;
        }
    }
}

@media (min-width:$PhonesLandscape){
    .container{
        width: 95%;
    }
}