@import '../../../shared/styles/vars';
.skill{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 40px;
    &__p{
        color: $palet2;
    }

}

@media only screen and (min-width:$PhonesLandscape){
    .skill{
        perspective: 100px;
    
        &__img{
            position: relative;
            z-index: 3;
            filter: grayscale(100%);
            background-color: $resume;
            
        }
        &__p{
            position: relative;
            z-index: 1;
            transform: translate3d(0,-50px,-40px);
            transition: transform 1s;
        }
    
        &:hover &__p {
            transform: translate3d(0,0px,0px);
        }
    
        &:hover &__img {
            transition: filter 2s linear;
            filter: grayscale(0%);
        }
    }
}