@import '../styles/vars';
@import '../styles/base/fonts';
@import '../styles/base/globals';
@import '../styles/bodyStyles';
@import '../styles/base/botones';
@import '../styles/base/blocks';
p{
    font-size: $text-s;
    color: white;
}

h1,h2,h3{
    font-family: 'Nunito', sans-serif;
}